{% extends "base.html" %}
{% block title %}Appointment Notes{% endblock %}
{% block head %}
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<link href="/static/literallycanvas.css" rel="stylesheet">
<link href="/static/quill.snow.css" rel="stylesheet">
<script src="/static/react-with-addons.js"></script>
<script src="/static/react-dom.js"></script>
<script src="/static/literallycanvas.js"></script>
<script src="/static/quill.js"></script>
{% endblock %}

{% block main %}
  <div class="main-wide">
    <h2>Adding note for appointment on {{bookings['name']}} with {{client}}</h2>
    <h3>Note entry</h3>
    {% if draft %}
      <div class="edit-wrap">
        <div id=editor>{{ draft.decode("ascii")|safe }}</div>
      </div>
    {% else %}
      <div class="edit-wrap">
        <div id="editor">
          <h3>Patient Details</h3>
          <p><br/></p>
          <h3>Symptom</h3>
          <p><br/></p>
          <h3>Diagnosis</h3>
          <p><br/></p>
          <h3>Treatment</h3>
          <p><br/></p>
        </div>
      </div>
    {% endif %}
    <h3>Add diagram</h3>
    <div id="drawing"></div>
    <form name="form_draft" method="POST">
      <input type="hidden" id="note_draft" name="note_draft"/>
    </form>
    <form name="form_final" method="POST">
      <input type="hidden" id="note_final" name="note_final"/>
      <input type="hidden" id="img" name="img"/>
    </form>
    <br><button onClick="save_draft();"> Save Draft </button>
    <button onClick="upload_file();"> Submit </button>
    {% if notes %}
      <h2>Previous notes for {{named_keys['client_id'][notes[0]['client_id']]}}</h2>
      <div class="notes">
      <table id="notes"><tbody>
        <tr>
          <th>Note</th>
          <th>Image</th>
          <th>Timestamp</th>
        </tr>
        {% for i in range(0, notes|length) %}
          <tr>
            <td> <div class="edit-wrap"> {{ notes[i]['note'].decode("ascii")|safe }} </div></td>
            {% if notes[i]['image'] %}
              <td> <img src="{{ notes[i]['image'].decode("utf-8") }}"/> </td>
            {% else %}
              <td> </td>
            {% endif %}
            <td> {{ notes[i]['timestamp'] }} </td>
          </tr>
        {% endfor %}
      </tbody></table>
      </div>
    {% endif %}
  </div>

  <script>
    var bodyImg = document.createElement("IMG");
    bodyImg.src = "/static/pics/body.png";
    var lc = LC.init(
      document.getElementById('drawing'),
      {imageURLPrefix: '/static/pics/literallycanvas',
       backgroundShapes: [
          LC.createShape(
           'Image', {x: 0, y: 0, image: bodyImg, scale: 0.5}
           )
       ]}
    );
    var localStorageKey = 'drawing'
    if (localStorage.getItem(localStorageKey)) {
      lc.loadSnapshot(JSON.parse(localStorage.getItem(localStorageKey)));
    }
    lc.on('drawingChange', function() {
      localStorage.setItem(localStorageKey, JSON.stringify(lc.getSnapshot()));
    });

    function save_draft(){
      var note=document.getElementById('editor').children[0];
      document.getElementById('note_draft').value = note.innerHTML;
      document.form_draft.submit();
    };
    function upload_file(){
      var note=document.getElementById('editor').children[0];
      document.getElementById('note_final').value = note.innerHTML;
      var blob = lc.getImage().toDataURL();
      document.getElementById('img').value = blob;
      document.form_final.submit();
      lc.clear()
      localStorage.setItem(localStorageKey, JSON.stringify(lc.getSnapshot()));
    };
    let BlockEmbed = Quill.import('blots/block/embed');
    class DividerBlot extends BlockEmbed {
    }
    DividerBlot.blotName = 'divider';
    DividerBlot.tagName = 'hr';
    Quill.register(DividerBlot);

    var toolbarOptions = [
    //  [{ 'font': [] }],
      [{ 'header': [1, 2, false] }],
      ['bold', 'italic', 'underline', 'strike'],        // toggled buttons

      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

      [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
      [{ 'align': [] }],
      ['blockquote', 'code-block'],
      //['divider'],

      ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#editor', {
      modules: {
         toolbar: toolbarOptions
      },
      theme: 'snow'
    });
  </script>
{% endblock %}
