{% extends "base.html" %}
{% block title %}Appointment Notes{% endblock %}
{% block head %}

{% endblock %}

{% block main %}
  <div class="main">
    <form method="POST">
      {% if notes %}
        <h2>Appointment notes for {{named_keys['booking_id'][notes[0]['booking_id']]}}
        with {{named_keys['client_id'][notes[0]['client_id']]}}</h2>
        <div class="notes">
        <table id="notes"><tbody>
          <tr>
            <th>Note</th>
            <th>Image</th>
            <th>Timestamp</th>
          </tr>
          {% for i in range(0, notes|length) %}
            <tr>
              <td> <div class="edit-wrap"> {{ notes[i]['note'].decode("ascii")|safe }} </div></td>
              {% if notes[i]['image'] %}
                <td> <img src="{{ notes[i]['image'].decode("utf-8") }}"/> </td>
              {% else %}
                <td> </td>
              {% endif %}
              <td> {{ notes[i]['timestamp'] }} </td>
            </tr>
          {% endfor %}
        </tbody></table>
        </div>
      {% else %}
        <h2>No notes for selected appointment.</h2>
      {% endif %}
      <button type="submit" name="add"> Add new note </button>
    </form>
  </div>
{% endblock %}
