{% extends "base.html" %}
{% block title %}Appointment Notes{% endblock %}
{% block head %}

{% endblock %}

{% block main %}
  {% macro capitalize(text) %}
      {{ text[0]|upper}}{{text[1:] }}
  {% endmacro %}
  <div class="main">
    <form method="POST">
      <h2>Appointment notes for {{booking['name']}} with {{booking['client_id']}}</h2>
      {% if notes %}
        <div class="notes">
        <table id="notes"><tbody>
          <tr>
            <th>Note</th>
            <th>Image</th>
            <th>Timestamp</th>
          </tr>
          {% for i in range(0, notes|length) %}
            <tr>
              <td> <div class="edit-wrap"> {{ notes[i]['note'].decode("ascii")|safe }} </div></td>
              {% if notes[i]['image'] %}
                <td> <img src="{{ notes[i]['image'].decode("utf-8") }}"/> </td>
              {% else %}
                <td> </td>
              {% endif %}
              <td> {{ notes[i]['timestamp'] }} </td>
            </tr>
          {% endfor %}
        </tbody></table>
        </div>
      {% else %}
        <h2>No notes for selected appointment</h2>
      {% endif %}
      {% set statuses = ['not paid', 'cash', 'card', 'invoice', 'insurance'] %}
      Payment status: <input type="number" name="price" min="0" value="{{booking['price']}}" max='999'>
      <select name="pay_status">
        <option value="{{booking['pay_status']}}">{{ capitalize(booking['pay_status']) }}</option>
        {% for status in statuses %}
          {% if status != booking['pay_status'] %}
            <option value="{{status}}">{{ capitalize(status) }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <td><button type=submit" name="submit">Submit Changes</button></td>
      <td><button type=submit" name="invoice">Print invoice</button></td> <br>
      <button type="submit" name="add"> Add new note </button>
      <button type="submit" name="return"> Return to diary </button>
    </form>
  </div>
{% endblock %}
