<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="../static/pics/favicon.ico"/>
</head>

<body>
  <form method="POST">
    <div class="topnav">
      FRAMEWORK LIVINGSTON
      <a href="{{ url_for('index') }}">Home</a> <br>
      <div class="dropdown">
        <a href="{{ url_for('osteopathy') }}">About</a>
        <div class="dropdown-content">
          <a href="{{ url_for('osteopathy') }}">What is Osteopathy</a>
          <a href="{{ url_for('our_team') }}">Our Team</a>
          <a href="{{ url_for('faq') }}">FAQ</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="{{ url_for('treatments') }}">Appointments</a>
        <div class="dropdown-content">
          <a href="{{ url_for('treatments') }}">Book a session</a>
          <a href="{{ url_for('contact') }}">Contact</a>
          <a href="{{ url_for('prices') }}">Prices</a>
          <a href="{{ url_for('what_to_expect') }}">What to Expect</a>
        </div>
      </div>
      {% if session['email'] %}
        {% if session['access_lvl'] == 2 %}
          <a href="{{ url_for('database') }}">Database</a>
        {% endif %}
        <a href="{{ url_for('logout', next=request.path[1:]) }}">Log out</a>
      {% endif %}
      {% if not 'email' in session %}
        <a href="{{ url_for('login', next=request.path[1:]) }}">Log in</a>
      {% endif %}
    </div>
  </form>
  <div class="msg-box">
    {% if msg %}
      {{ msg }}
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

{% block main %}{% endblock %}
</body>

</html>
