{% extends "base.html" %}
{% block title %}Time slot booking{% endblock %}

{% block main %}
  <div class="main">
    <h2>Please choose a time slot.</h2>
    <div class="flexwrap">
    <form method="POST">
    {% if time_slots %}
      {% for i in range (0, time_slots|length) %}
        {% if time_slots[i][1] == [] %}
          <button type="submit" name="time_slot" style="background-color:grey" disabled> {{ time_slots[i][0] }} </button>
        {% else %}
          <button type="submit" name="time_slot" value="{{time_slots[i]}}"> {{ time_slots[i][0] }} </button>
        {% endif %}
      {% endfor %}
    {% endif %}
    </form>
    </div>
  </div>
{% endblock %}
