{% extends "base.html" %}
{% block title %}Time slot booking{% endblock %}

{% block main %}
  <div class="main">
    <h2>Please choose a time slot.</h2>
    <meta charset="UTF-8">
    <table id="booking" style="width:100%"><tbody>
      <form method="POST">
      {% if time_slots %}
        {% for i in range (0, 3) %}
          <tr>
          {% for j in range (0, 6) %}
            {% if time_slots[6*i + j][1] == [] %}
              <td> {{ time_slots[6*i + j][0] }} </td>
            {% else %}
              <td> <button type="submit" name="time_slot" value="{{time_slots[6*i + j]}}"> {{ time_slots[6*i + j][0] }} </button> </td>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
      {% endif %}
      </form>
    </tbody></table>
  </div>
{% endblock %}
