{% extends "base.html" %}
{% block title %}Account Creation{% endblock %}

{% block main %}
  <div class="main">
    <div class="container">
      <h2>Account Creation</h2>
      To make a new account, please enter your personal details. These will be used as a reference when you book an appointment.
      <br><br>
      <form action="" method="post">
        <div class="acc">
        <table id="tables"><tbody>
          <tr>
            <td>Email<span style="color: red">*</span></td>
            <td><input type=email placeholder="Email" name="email"></td>
          </tr>
          <tr>
            <td>Password<span style="color: red">*</span></td>
            <td><input type=password placeholder="Password" name="password"></td>
          </tr>
          <tr>
            <td>Confirm Password<span style="color: red">*</span></td>
            <td><input type=password placeholder="Confirm Password" name="password_confirm"></td>
          </tr>
          <tr>
            <td>First Name<span style="color: red">*</span></td>
            <td><input placeholder="First Name" name="name"></td>
          </tr>
          <tr>
            <td>Last Name<span style="color: red">*</span></td>
            <td><input placeholder="Last Name" name="surname"></td>
          </tr>
          <tr>
            <td>Date of Birth<span style="color: red">*</span></td>
            <td><input type=date name="dob"></td>
          </tr>
          <tr>
            <td>Phone Number<span style="color: red">*</span></td>
            <td><input type=tel placeholder="Phone Number" name="phone_1"></td>
          </tr>
          <tr>
            <td>Phone Number 2</td>
            <td><input type=tel placeholder="Phone number 2" name ="phone_2"></td>
          </tr>
          <tr>
            <td>Address Line 1<span style="color: red">*</span></td>
            <td><input placeholder="Address Line 1" name="address_1"></td>
          </tr>
          <tr>
            <td>Address Line 2</td>
            <td><input placeholder="Address Line 2" name="address_2"></td>
          </tr>
          <tr>
            <td>Address Line 3</td>
            <td><input placeholder="Address Line 3" name="address_3"></td>
          </tr>
          <tr>
            <td>Town/City<span style="color: red">*</span></td>
            <td><input placeholder="Town/City" name="city"></td>
          </tr>
          <tr>
            <td>Council Area/County</td>
            <td><input placeholder="Council Area/County" name="county"></td>
          </tr>
          <tr>
            <td>Postcode<span style="color: red">*</span></td>
            <td><input placeholder="Postcode" name="postcode"></td>
          </tr>
        </tbody></table>
        </div>
        <input type="submit" value="Submit">
        <br>Values marked with <span style="color: red">*</span> are required.
      </form>
    </div>
  </div>
{% endblock %}
