<!DOCTYPE html>
<html>

<head>
  <title>Database</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>

<body>
  <form method="POST">
    <div class="topnav">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('treatments') }}">Book a session</a>
      {% if not 'email' in session %}
        <a class="right" href="{{ url_for('login') }}">Login</a>
      {% endif %}
      {% if session['email'] %}
        {% if session['access_lvl'] == 2 %}
          <a class="active" href="{{ url_for('database') }}">Access Database</a>
        {% endif %}
        <button class="right" type="submit" name="category" value="logout">Log out</button>
      {% endif %}
    </div>
  </form>
  <h2>Home page</h2>
  {% if message %}
    {{ message }}
  {% endif %}
  {% for table in result %}
    <a href="{{ url_for('tables', table=table['Tables_in_booking']) }}">{{table['Tables_in_booking']}}</a>
  {% endfor %}
</body

</html>
