{% extends "base.html" %}
{% block title %}Choose a Date{% endblock %}

{% block main %}
  <div class="main">
    <h1>Please choose a date.</h1>
    <meta charset="UTF-8">
    <table id="date" style="width:100%"><tbody>
      <form method="POST">
      {% if date_range %}
        <tr>
        {% for i in range (0, 7) %}
          {% if avails[i] == 'True' %}
            <td> <button type="submit" name="date" value="{{date_range[i]}}"> {{ date_range[i] }} </button> </td>
          {% else %}
            <td> {{date_range[i]}} </td>
          {% endif %}
        {% endfor %}
        </tr>
        <tr>
        {% for i in range (7, 14)%}
          {% if avails[i] == 'True' %}
            <td> <button type="submit" name="date" value="{{date_range[i]}}"> {{ date_range[i] }} </button> </td>
          {% else %}
            <td> {{date_range[i]}} </td>
          {% endif %}
        {% endfor %}
        </tr>
        <tr>
        {% for i in range (14, 21)%}
          {% if avails[i] == 'True' %}
            <td> <button type="submit" name="date" value="{{date_range[i]}}"> {{ date_range[i] }} </button> </td>
          {% else %}
            <td> {{date_range[i]}} </td>
          {% endif %}
        {% endfor %}
        </tr>
        <tr>
        {% for i in range (21, 28)%}
          {% if avails[i] == 'True' %}
            <td> <button type="submit" name="date" value="{{date_range[i]}}"> {{ date_range[i] }} </button> </td>
          {% else %}
            <td> {{date_range[i]}} </td>
          {% endif %}
        {% endfor %}
        </tr>
      {% endif %}
      </form>
    </tbody></table>
  </div>
{% endblock %}
