{% extends "base.html" %}
{% block title %}Our Team{% endblock %}

{% block main %}
  <div class="medium-text">
    Frequently Asked Questions
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">Who can call themselves an osteopath?</span><br><br>

    The title of ‘Osteopath’ is protected by law, and only those who are registered with the General Osteopathic Council are allowed to practice as osteopaths. In order to become an osteopath you must have completed an under-graduate degree in osteopathy.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">What training do osteopaths have?</span><br><br>

    All osteopaths are required to complete a minimum of four years undergraduate training, consisting of a combination of academic and clinical study. Some osteopaths also go on to complete further post-graduate qualifications after graduating. Osteopaths are also required to keep their knowledge up to date by completing a minimum of 30 hours of continued professional development per year.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">What should I wear?</span><br><br>

    Generally we recommend you wear items of clothing that will allow us to access the symptomatic area, for example shorts when working on knees or a non-collared shirt when working on the neck. We also advise you avoid wearing thick or restrictive clothing as this may limit our ability to diagnose and treat.

    Sometimes your osteopath may ask you to remove some items of clothing, this is in order to make it easier for them to examine and treat the area more accurately and effectively. We therefore advise you to bring underwear you are comfortable in or otherwise shorts that you can change into. If you are uncomfortable undressing you are able to remain fully clothed.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">What can we treat?</span><br><br>

    Osteopathy primarily focuses on the diagnosis, treatment, management and prevention of various musculoskeletal pains and injuries. Some of the conditions osteopaths may be able to help include:
    <ul>
      <li>Low back pain</li>
      <li>Neck pain</li>
      <li>Arthritic pain</li>
      <li>Sporting injuries</li>
      <li>Postural issues</li>
      <li>Muscle and joint pains</li>
    </ul>
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">Is Osteopathy Safe?</span><br><br>

    There are very few risks associated with having osteopathy. Generally adverse reactions to treatment are minor and include soreness/ increased pain in the area treated, headaches and fatigue; these symptoms typically develop within a few hours of having treatment and usually clear up on their own within 24-48 hours. Severe adverse reactions to osteopathic treatment have been reported but are very rare. It is important to note that all osteopaths are highly trained and will preform an in depth medical case history and examination prior to treatment. Your osteopath will discuss the risks that are relevant to you as an individual, allowing you to make informed decisions and will adjust their techniques as appropriate to keep the treatment safe. If your practitioner believes that osteopathy is not suitable they will discuss alternate treatment options with you and if necessary refer you to the appropriate medical professional.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">Will my insurance cover the treatment?</span><br><br>

    Many insurance companies will cover osteopathic treatment but you will need to check with them in advance to see if this is the case and whether they have any requirements prior to the beginning of treatment.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">How many sessions will I need?</span><br><br>

    This will vary for each person as different problems have different recovery periods and everyone responds differently to treatment. Usually patients require somewhere between 3-5 sessions, however your osteopath will always try to give you a realistic idea about your recovery time and how many appointments you will need.

    Sometimes depending on the circumstances it is recommended to have regular appointments, for example every 1-6 months, which can be helpful in preventing future episodes and maintaining a greater level of health and mobility.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">Can I Bring Someone Along?</span><br><br>

    You are welcome to bring anyone along to observe your appointment. If your appointment is for someone under the age of 16 they will be required to be accompanied by their legal guardian.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">Will I get treatment during the first appointment?</span><br><br>

    We will always aim to try and get some treatment done during the initial appointment. Occasionally this is not always possible if the presentation is particularly complicated, however this is very rare.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">What will happen with my personal information?</span><br><br>

    All of your personal information will be stored securely and will not be disclosed without your prior consent. Occasionally it may be necessary for your osteopath to refer you to another healthcare professionals if further investigation is required, or if osteopathic treatment is not appropriate. If this is the case your osteopath will discuss this with you beforehand, and must gain your permission before disclosing any of your information. All records will be stored securely for 7 years then deleted.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">What is the difference between a physiotherapist, osteopath and a chiropractor?</span><br><br>

    There are a lot of similarities between the three professions in that they are all protected titles requiring university level degrees and they all non- invasive, drug-free manual therapies that work primarily work within the musculoskeletal system. They all use a combination of hands-on treatment, exercise, education and lifestyle advise when treating patients. The differences mainly lie in the schools of thought behind each profession, and how they apply them when treating patients. The most important thing is to find a practitioner you are comfortable with and one who's style works for you, regardless of which profession they are from.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">How long are the appointments?</span><br><br>

    Initial appointments are 60 minutes, they are longer because your osteopath will need to take a full case history and preform an examination in order to identifying what is wrong. All follow-up appointments are 30 minutes.
  </div>
  <div class="main">
    <span style="text-align:center; font-weight:bold; font-size:20px">Can I be treated if I am pregnant?</span><br><br>

    The simple answer is yes. Osteopathy can even be very helpful to cope with some of the strenuous postural changes that occur during pregnancy. While there is currently no research to suggest osteopathy is of any danger to pregnant women, we do ask that you inform us of your pregnancy regardless of the stage.
  </div>
{% endblock %}
