<!DOCTYPE html>
<html>

<head>
  <title>Main Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>

<body>
  <form method="POST">
    <div class="topnav">
      FRAMEWORK
      {% if not 'email' in session %}
        <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
      {% if session['email'] %}
        <button class="right" type="submit" name="category" value="logout">Log out</button>
        {% if session['access_lvl'] == 2 %}
          <a href="{{ url_for('database') }}">Access Database</a>
        {% endif %}
      {% endif %}
      <a href="{{ url_for('treatments') }}">Book a session</a>
      <a class="active" href="{{ url_for('index') }}">Home</a> <br>
      LIVINGSTON <br>
    </div>
  </form>
  {% if msg %}
    {{ msg }}
  {% endif %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="../static/pics/DSC_0118.jpg" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="../static/pics/IMG_0298.jpg" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="../static/pics/DSC_0152.jpg" style="width:100%">
  <div class="text"></div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

</body>

</html>
