<!DOCTYPE html>
<html>

<head>
  <title>Main Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>

<body>
  <form method="POST">
    <div class="topnav">
      FRAMEWORK
      {% if not 'email' in session %}
        <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
      {% if session['email'] %}
        <button class="right" type="submit" name="category" value="logout">Log out</button>
        {% if session['access_lvl'] == 2 %}
          <a href="{{ url_for('database') }}">Access Database</a>
        {% endif %}
      {% endif %}
      <a href="{{ url_for('treatments') }}">Book a session</a>
      <a class="active" href="{{ url_for('index') }}">Home</a> <br>
      LIVINGSTON <br>
    </div>
  </form>
  {% if msg %}
    {{ msg }}
  {% endif %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</body>

</html>
