<!DOCTYPE html>
<html>

<head>
  <title>Login page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
      <input type="text" placeholder="Email" name="email" value="{{
        request.form.email }}">
       <br><input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}">
      <br><button type="submit" name='next' value="login"> Login </button>
      <br><button type="submit" name='next' value="create"> Create an account</button>
    </form>
    {% if msg %}
      <p class="error"><strong>Error:</strong> {{ msg }}<br>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</body>

</html>
