{% extends "base.html" %}
{% block title %}My Appointments{% endblock %}

{% block head %}
  <script>
    function filter() {
    // Declare variables
    var input, filter, table, tr, length, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("appTable");
    tr = table.getElementsByTagName("tr");
    length = table.rows[0].cells.length;

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 1; i < tr.length-1; i++) {
      var found = 0;
      for (j = 0; j < length; j++) {
        td = tr[i].getElementsByTagName("td")[j];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            found = 1;
          }
        }
      }
      if (found == 1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
  </script>
{% endblock %}

{% block main %}
  {% macro capitalize(text) %}
      {{ text[0]|upper}}{{text[1:] }}
  {% endmacro %}

  <div class="main-wide" style="overflow-x:auto;">
    <h2>List of all your appointments</h2>
    <input type="text" id="searchInput" onkeyup="filter()" placeholder="Search...">
    <form method="POST">
      <table id="appTable"><tbody>
        {% if bookings %}
          <tr>
            <th>Practitioner</th>
            <th>Client</th>
            <th>Appointment Type</th>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th>Description</th>
            <th>Price (£)</th>
            {% if access_lvl == 2 %}
              <th>Payment Status</th>
              <th>Payment Timestamp</th>
              <th>Submit Changes</th>
              <th>Print Invoice</th>
              <th>Notes</th>
              <th>Delete Row</th>
            {% endif %}
          </tr>
          {% for row in bookings %}
            <tr>
              <td>{{named_keys['prac_id'][row['prac_id']]}}</td>
              <td>{{named_keys['client_id'][row['client_id']]}}</td>
              <td>{{named_keys['treat_id'][row['treat_id']]}}</td>
              <td>{{row['name']}}</td>
              <td>{{row['start']}}</td>
              <td>{{row['end']}}</td>
              <td>{{row['descr']}}</td>
              {% if access_lvl == 2 %}
                <td>
                  <input type="number" name={{"price"+row['booking_id']|string}} min="0" value="{{row['price']}}" max='999'>
                </td>
                {% set statuses = ['not paid', 'cash', 'card', 'invoice', 'insurance'] %}
                <td>
                  <select name="{{"pay_status"+row['booking_id']|string}}">
                    <option value="{{row['pay_status']}}">{{ capitalize(row['pay_status']) }}</option>
                    {% for status in statuses %}
                      {% if status != row['pay_status'] %}
                        <option value="{{status}}">{{ capitalize(status) }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td>{{row['pay_timestamp']}}</td>
                <td><button type="submit" name="submit" value="{{row['booking_id']}}"> Submit </button></td>
                <td><input type="checkbox" name="invoice" value="{{row['booking_id']}}"></td>
                <td><button type="submit" name="view" value="{{row['booking_id']}}"> View Notes </button></td>
              {% else %}
                <td>{{ row['price'] }}</td>
              {% endif %}
              {% if access_lvl == 2 %}
                {% for field in row %}
                  {% if col_type[field] == 'auto' %}
                    <td><button type="submit" name="delete" value="{{row[field]}}"> Delete </button></td>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </tr>
          {% endfor %}
          <tr>
            <td colspan="11"> </td>
            <td><button type=submit" name="invoice-submit">Submit</button></td>
            <td colspan="2"> </td>
          </tr>
        {% endif %}
      </tbody></table>
    </form>
  </div>
{% endblock %}
