{% extends "base.html" %}
{% block title %}Osteopathy{% endblock %}

{% block main %}
  <div class="medium-text">
    Osteopathy
  </div>
  <div class="main">
    <div class="row">
      <div class="column-35">
        <img style="float:left" src="../static/pics/skeleton.jpg">
      </div>
      <div class="column-65">
        <span style="font-weight:bold; font-size:20px">What is Osteopathy</span><br><br>
          Osteopathy is a form of manual therapy that focuses on the diagnosis and treatment of problems primarily within the musculoskeletal system. It works on the principal that the well-being of an individual relies on the way that bones, muscles, ligaments and connective tissue work with each other. Osteopaths take a holistic view when treating patients and will look at many different factors outside of the area of pain, such as your exercise, work and lifestyle that can also influence your body.

          Osteopathic treatment consists of a combination of hands-on techniques such as massage, stretching, mobilisation and joint manipulation, as well as prescribing exercises, giving advise and providing education about the presenting complaint.

          All osteopaths must complete a minimum of 4 years of undergraduate training before they can use the title ‘Osteopath’.  During their studies, osteopaths gain an in-depth knowledge of anatomy, physiology, neurology and technique and must also complete a minimum of 1000 clinical hours. After graduating all osteopaths must also complete a minimum of 30 hours of continued professional development each year.
      </div>
    </div>
  </div>
  <div class="main">
    <div class="row">
      <div class="column-65">
        <span style="font-weight:bold; font-size:20px">What do we treat</span><br><br>
          Osteopathy primarily focuses on the diagnosis, treatment, management and prevention of various musculoskeletal pains and injuries. Some of the conditions osteopaths may be able to help include:
          <ul>
            <li>Low back pain</li>
            <li>Neck pain</li>
            <li>Arthritic pain</li>
            <li>Sporting injuries</li>
            <li>Postural issues</li>
            <li>Muscle and joint pain</li>
          </ul>
          If you are unsure about whether or not you think osteopathy is appropriate for you please don’t hesitate to get in contact with us and we can give you a better idea about whether we may be able to help.
      </div>
      <div class="column-35">
        <img style="float: right" src="../static/pics/IMG_0235.jpg">
      </div>
    </div>
  </div>
{% endblock %}
