{% extends "base.html" %}
{% block title %}Our Team{% endblock %}

{% block main %}
  <div class="medium-text">
    Our Team
  </div>
  <div class="main">
    <div class="row">
      <div class="column-25">
        <img src="../static/pics/wesley.jpg">
      </div>
      <div class="column-75">
        <span style="font-weight:bold; font-size:20px">Wesley Connellan</span><br><br>

        Wesley qualified from the University College of Osteopathy in 2017. Previously he worked in a busy clinic in South-East England before moving up to Scotland. He uses a structural hands on approach to treat a wide variety of musculoskeletal presentations across all age groups. He also has a post-graduate qualification in animal osteopathy, and works with owners to treat horses and dogs across the country.  In his spare time Wesley enjoys running and playing water polo.
      </div>
    </div>
  </div>
  <div class="main">
    <div class="row">
      <div class="column-25">
        <img src="../static/pics/ellie.jpg">
      </div>
      <div class="column-75">
        <span style="font-weight:bold; font-size:20px">Ellie Gorham</span><br><br>

        Ellie qualified from the University College of Osteopathy in 2017, and has worked in several clinics across central Scotland. In 2018 Ellie completed a year long post graduate certificate in paediatric osteopathy and now specialises in treating children, from newborns to teenagers. Her interests include running and open-water swimming, and she regularly competes in half-marathons.
      </div>
    </div>

  </div>
  <div class="main">
    <div class="row">
      <div class="column-25">
        <img src="../static/pics/andrew.jpg">
      </div>
      <div class="column-75">
        <span style="font-weight:bold; font-size:20px">Andrew Patterson</span><br><br>

        Andrew qualified as an osteopath at the British College of Osteopathic Medicine in 1999 and has since been a guest lecturer there. With an orthopaedic approach to osteopathy, he uses a wide range of treatment techniques. He is a JEMS® certified practitioner who particularly works with musicians, athletes and active people. Andrew is currently osteopath to the National Youth Orchestra of Great Britain, and works with the National Youth Orchestras of Scotland.
      </div>
    </div>
  </div>

  <div class="main">
    <span style="font-weight:bold;">All our osteopaths are fully qualified, insured and registered with the general osteopathic council.</span>
  </div>
{% endblock %}
