{% extends "base.html" %}
{% block title %}Prices{% endblock %}

{% block main %}
  <div class="medium-text">Prices</div>

  <div class="main">

    <img src="../static/pics/clipboard.jpg" width="350">

    Adults
    <div class="small-text">
      <ul>
        <li>Initial 60 minute consultation   -   £55</li>
        <li>Followup 30 minute appointment   -   £45</li>
      </ul>
    </div>

    Ages 0-12
    <div class="small-text">
      <ul>
        <li>Initial 60 minute paediatric consultation   -   £45</li>
        <li>Followup 30 minute paediatric appointment   -   £40</li>
      </ul>
    </div>

    Animals
    <div class="small-text">
      <ul>
        <li>Equine consultation   -   £65</li>
        <li>Canine consultation   -   £50</li>
      </ul>
    </div>

    Animal consultations may include additional travel expenses.
    For appointments please contact <a href="mailto:Connellan.Osteo@gmail.com">Connellan.Osteo@gmail.com</a> directly.
  </div>
{% endblock %}
