{% extends "base.html" %}
{% block title %}Tables{% endblock %}

{% block main %}
  <meta charset="UTF-8">
  <table id="tables" style="width:100%"><tbody>
    {% if result %}
      <tr>
        {% for field in result[0] %}
          {% if col_type[field] != 'auto' %}
            <th>{{ field }}</th>
          {% endif %}
        {% endfor %}
      </tr>
      {% for row in result %}
        <tr>
          {% for field in row %}
            {% if col_type[field] != 'auto' %}
              {% if (col_type[field] == 'foreign') or (col_type[field] == 'foreign_null') %}
                <td>{{ named_keys[field][row[field]] }} ({{ row[field] }})</td>
              {% else %}
                <td>{{ row[field] }}</td>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    {% endif %}
    <form method="POST">
      <tr>
        {% for field in result[0] %}
          {% if col_type[field] != 'auto' %}
            {% if (col_type[field] == 'foreign') or (col_type[field] == 'foreign_null') %}
              <td><select name={{field}}>
                {% if col_type[field] == 'foreign_null' %}
                  <option value="NULL"> NULL </option>
                {% endif %}
                {% for key, name in named_keys[field].items() %}
                  <option value="{{key}}">{{ name }} ({{ key }})</option>
                {% endfor %}
              </select></td>
            {% else %}
              <td><input type="text" name={{field}}></td>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tr>
      <button type="submit" name="submit" value="yes"> Submit </button>
    </form>
  </tbody></table>
{% endblock %}
