{% extends "base.html" %}
{% block title %}Login page{% endblock %}

{% block main %}
  <meta charset="UTF-8">
  <form method="POST">
    <table id="tables"><tbody>
      {% if result %}
        <tr>
          {% for field in result[0] %}
            {% if col_type[field] != 'auto' %}
              <th>{{ field }}</th>
            {% endif %}
          {% endfor %}
        </tr>
        {% for row in result %}
          <tr>
            {% for field in row %}
              {% if col_type[field] != 'auto' %}
                {% if col_type[field] == 'foreign' %}
                  <td>{{ named_keys[field][row[field]] }} ({{ row[field] }})</td>
                {% else %}
                  <td>{{ row[field] }}</td>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% for field in row %}
              {% if col_type[field] == 'auto' %}
                <td><button type="submit" name="delete" value="{{row[field]}}"> Delete </button></td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      {% endif %}
    </tbody></table>
    <button type="submit" name="add" value="yes"> Add new entry </button>
  </form>
{% endblock %}
