{% extends "base.html" %}
{% block title %}Choose a Treatment{% endblock %}

{% block main %}
  <div class="main">
    <h2>Please choose a treatment.</h2>
    <form method="POST">
      {% if treatments %}
        {% for i in range(0, treatments|length) %}
          <button type="submit" name="type" value='{{treatments[i]['name']}}'>
          {{treatments[i]['name']}} </button> &nbsp; {{ time[i] + ' - £'
          + treatments[i]['price']|string }} <br>
        {% endfor %}
      {% endif %}
    </form>
  </div>
{% endblock %}
