<!DOCTYPE html>
<html>

<head>
  <title>Clients</title>
  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>
</head>

<body>
  <meta charset="UTF-8">
  <table id="clients" style="width:100%"><tbody>
    <tr>
      <th>First Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
    {% if result %}
      {% for row in result %}
      <tr>
        <td> {{ row.first_name }}</td>
        <td> {{ row.surname }}</td>
        <td> {{ row.phone}}</td>
        <td> {{ row.email }}</td>
      </tr>
      {% endfor %}
    {% endif %}
  </tbody></table>
</body>

</html>
