<!DOCTYPE html>
<html>

<head>
  <title>Tables</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
  </style>
</head>

<body>
  <meta charset="UTF-8">
  <table id="tables" style="width:100%"><tbody>
    {% if result %}
      <tr>
        {% for category in result[0] %}
          {% if col_type[category] != 'auto' %}
            <th>{{ category }}</th>
          {% endif %}
        {% endfor %}
      </tr>
      {% for row in result %}
      <tr>
        {% for category in row %}
          {% if col_type[category] != 'auto' %}
            <td>{{ row[category] }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    {% endif %}
    <form method="POST">
      <tr>
        {% for category in result[0] %}
          {% if col_type[category] != 'auto' %}
            <td><input type="text" name={{category}}/></td>
          {% endif %}
        {% endfor %}
      </tr>
      <button type="submit" name="submit" value="yes"> Submit </button>
    </form>
  </tbody></table>
</body>

<html>
